.bg-svg {
    z-index: -1;
    overflow: hidden;

    &.bg-middle {
        svg {
            position: relative;
            right: -25vw !important;
        }
    }

    @include media-breakpoint-down(lg) {
        &.bg-top {
            svg {
                width: revert !important;
            }
        }

        &.bg-middle {
            svg {
                position: relative;
                right: -100vw !important;
            }
        }
    }

    @include media-breakpoint-down(md) {
        &.bg-middle {
            svg {
                position: relative;
                right: -250vw !important;
            }
        }
    }
}