@font-face {
	font-family: 'DMSans';
	src: url('../fonts/DMSans.woff2') format('woff2-variations');
	font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'DMSans';
	src: url('../fonts/DMSans-Italic.woff2') format('woff2-variations');
	font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'DMSerifDisplay';
	src: url('../fonts/DMSerifDisplay-Regular.woff2') format('woff2-variations');
	font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'DMSerifDisplay';
	src: url('../fonts/DMSerifDisplay-Italic.woff2') format('woff2-variations');
	font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}